.footer {
  background: var(--background-footer-color);
  padding: 60px 0;
}
.logo__footer-link {
  display: block;
  margin-bottom: 20px;
}
.footer-link-logo-start {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-link-logo-end {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-address-footer-color);
}
.list-address-item-link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-address-footer-color);
  margin-bottom: 8px;
  width: 231px;
}
.list-address-item-mail {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-address-footer-color);
  margin-bottom: 8px;
}
.list-address-item-tel {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-address-footer-color);
}
@media screen and (max-width: 767px) {
  .address-footer {
    margin-bottom: 60px;
    margin: 0px auto;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo__footer-link {
    text-align: center;
  }
  .list-address-item-link {
    text-align: center;
  }
  .list-address-item-mail {
    text-align: center;
  }
  .list-address-item-tel {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .logo__footer-link {
    text-align: center;
  }
  .list-address-item-link {
    text-align: center;
  }
  .list-address-item-mail {
    text-align: center;
  }
  .list-address-item-tel {
    text-align: center;
  }
  .address-footer {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-link-logo-start {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .footer-link-logo-end {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-address-footer-color);
  }
  .list-address-item-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--logo-address-footer-color);
    margin-bottom: 9px;
    width: 231px;
  }
  .list-address-item-mail {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-address-footer-color);
    margin-bottom: 9px;
  }
  .list-address-item-tel {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-address-footer-color);
  }

  .footer-contacts {
    display: flex;
    align-items: baseline;
  }
  .address-footer {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .logo__footer-link {
    text-align: left;
  }
  .list-address-item-link {
    text-align: left;
  }
  .list-address-item-mail {
    text-align: left;
  }
  .list-address-item-tel {
    text-align: left;
  }
}
