@media screen and (max-width: 767px) {
  .modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 100%;
    padding: 40px;

    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-close {
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0px;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .button-modal-close {
      fill: var(--accent-color);
    }
    &:focus .button-modal-close {
      fill: var(--accent-color);
    }
  }

  .button-modal-close {
    width: 18px;
    height: 18px;
    margin: auto;
    fill: #000000;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 100%;
    padding: 40px;

    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-close {
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0px;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .button-modal-close {
      fill: var(--accent-color);
    }
    &:focus .button-modal-close {
      fill: var(--accent-color);
    }
  }

  .button-modal-close {
    width: 18px;
    height: 18px;
    margin: auto;
    fill: #000000;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;

    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-close {
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0px;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .button-modal-close {
      fill: var(--accent-color);
    }
    &:focus .button-modal-close {
      fill: var(--accent-color);
    }
  }
  .button-modal-close {
    width: 18px;
    height: 18px;
    margin: auto;
    fill: #000000;
  }
}
