:root {
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --main-text-color: #212121;
  --background-hero: #2f303a;
  --background-our-team: #f5f4fa;
  --background-footer-color: #2f303a;
  --btn-item-color: #f5f4fa;
  --text-btn-color: #ffffff;
  --logo-address-footer-color: #ffffff;
  --mail-tel-color: #757575;
  --text-description-color: #757575;
  --text-address-footer-color: rgba(255, 255, 255, 0.6);
}
